.header {
    text-align: center;
    width: auto;
}

.header img {
    height: 100px;
}

.header nav {

    width: 100%;
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover {
    color: gray;
}
nav button:hover{
    background-color: aquamarine;
}

.cart-logo {
    margin-left: 150px;
    color: goldenrod;
}

.home {
    margin-left: 150px;
}

.search {
    height: 30px;
    width: 150px;
    border-radius: 10px;
}

.search-btn {
    background-color: lightseagreen;
    color: white;
    padding: 1opx 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 50px;
    
}