.footer-container{
    width: 100%;
    height: 180px;
    background-color: lightgray;
}
.copyright{
    text-align: center;
    font-weight: 500;
    
}
.footer-content{
    display: flex;
}
.logo{
    width: 150px;
    height: 150px;
}
